@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor-cinza: #667085;
    --cor-cinzaclaro: rgb(187, 203, 235);
    --cor-vermelho: #8E2424;
    --cor-vermelhoclaro: #e0bbbb;
    --cor-cianê: #fcefef;
    --cor-branco: #ffffff;
    --cor-azul: #4533e6;
    --cor-preto: #000000;
    --cor-pretometricas: #101828;
    
    --font-cabeçalho: "Inter";

}

.cabeçalho { /* Issue: posição do cabeçalho, precisa ser mais deslocado para a esquerda */
    display: flex;
    justify-content: space-between;
    padding: 2em 5em;
}

.container__páginas {
    text-decoration: none;
    color: var(--cor-cinza);
    font-family: var(--font-cabeçalho);
    font-size: 16px;
    font-weight: 500;
    margin: 2em;
}

.container__botões {
    text-decoration: none;
    color: var(--cor-cinza);
    font-family: var(--font-cabeçalho);
    font-size: 16px;
    font-weight: 500;
    margin: 2em;
}

.container__botões__link {
    text-decoration: none;
    color: var(--cor-branco);
    background-color: var(--cor-vermelho);
    padding: 18px 40px;
    border-radius: 5px;
    font-family: var(--font-cabeçalho);
    font-size: 16px;
    font-weight: 500;
}

.container__botões__link:hover {
    background-color: var(--cor-cinza);
    color: var(--cor-preto);
}

.container__páginas:hover {
    color: var(--cor-preto);
}

.container__botões:hover {
    color: var(--cor-preto);
}

.cabeçalho__cabeçalho {
    text-align: center;
    margin: 5em;
}

.cabeçalho__cabeçalho__apresentação {
    color: var(--cor-vermelho);
    font-weight: 600;
    font-size: 16px;
}

.cabeçalho__cabeçalho__título {
    color: var(--cor-preto);
    font-weight: 600;
    font-size: 48px;
}

.cabeçalho__cabeçalho__texto {
    font-family: var(--font-cabeçalho);
    color: var(--cor-cinza);
    font-weight: 400;
    font-size: 20px;
}

.métricas { /* issue: valores das métricas estão muito afastados dos títulos */
    display: flex;
    justify-content: space-between;
}

.métricas__grupos {
    margin: 4em;
}

.métricas__grupos__números {
    font-family: var(--font-cabeçalho);
    color: var(--cor-vermelho);
    font-size: 60px;
    font-weight: 600;
}

.métricas__grupos__títulos {
    font-family: var(--font-cabeçalho);
    color: var(--cor-pretometricas);
    font-size: 18px;
    font-weight: 500;
}

.métricas__grupos__parágrafos {
    font-family: var(--font-cabeçalho);
    color: var(--cor-cinza);
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.vagas {
    text-align: center;
    font-family: var(--font-cabeçalho);
}

.vagas__informações {
    padding: 1em;
}

.vagas__informações__anúncio {
    background-color: var(--cor-vermelhoclaro);
    border-radius: 5px;
    padding: 1em;
    color: var(--cor-vermelho);
    text-decoration: none;
    margin-bottom: 1em;
}

.vagas__informações__título {
    padding: 1em 0em 0em 0em;
}

.vagas__informações__parágrafo {
    padding: 1em;
}

.seção__grupos__principal {
    font-family: var(--font-cabeçalho);
    color: var(--cor-preto);
    font-weight: 500;
    font-size: 20px;
    margin: 0em 28em;
    padding: 2em 0em;
}

.seção__grupos__principal__vaga {
    border: 2px solid var(--cor-cinzaclaro);
    border-radius: 20px;
    margin: 2em 38em;
    padding: 2em 2em;
}

.seção__grupos__principal__vaga__título {
    font-family: var(--font-cabeçalho);
    color: var(--cor-preto);
    font-weight: 500;
    font-size: 18px;
}

.parágrafo { /*issue: não consigo fazer as informações dos paragrafos ficarem lado a lado e com espaço */
    display: block;
    margin: 0 auto;
}

.seção__grupos__principal__vaga__parágrafo {
    font-family: var(--font-cabeçalho);
    color: var(--cor-cinza);
    font-weight: 500;
    font-size: 16px;
}

.opiniões {
    text-align: center;
    margin: 5em 5em;
    background-color: var(--cor-cianê);
}

.opiniões__título {
    font-family: var(--font-cabeçalho);
    color: var(--cor-vermelho);
    padding: 4em;
    font-size: 14px;
    font-weight: 600;
}

.opiniões__texto {
    font-family: var(--font-cabeçalho);
    color: var(--cor-pretometricas);
    font-size: 36px;
    font-weight: 500;
    padding: 0em 4em;
}

.opiniões__nome {
    font-family: var(--font-cabeçalho);
    color: var(--cor-preto);
    font-size: 16px;
    font-weight: 500;
}

.opiniões__função {
    font-family: var(--font-cabeçalho);
    color: var(--cor-cinza);
    font-size: 14px;
    font-weight: 400;
    padding: 0em 0em 4em 0em;
}

.cadastro {
    text-align: center;
}

.cadastro__título {
    font-family: var(--font-cabeçalho);
    color: var(--cor-pretometricas);
    font-size: 36px;
    font-weight: 600;
}

.cadastro__parágrafo {
    font-family: var(--font-cabeçalho);
    color: var(--cor-cinza);
    font-size: 20px;
    font-weight: 400;
    padding: 1em;
}

.cadastro__email { /*issue: não consegui colocar o "seu email" alinha na esquerda" */
    font-family: var(--font-cabeçalho);
    color: var(--cor-cinza);
    border: 2px solid var(--cor-cinzaclaro);
    border-radius: 5px;
    margin: 1em 1em;
    padding: 1em 10em 1em 10em;
    text-align: center;
}

.cadastro__botão {
    font-family: var(--font-cabeçalho);
    color: var(--cor-branco);
    background-color: var(--cor-vermelho);
    border-radius: 5px;
    border: 0px;
    padding: 1em;
}

.cadastro__copyright {
    font-family: var(--font-cabeçalho);
    color: var(--cor-cinzaclaro);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 2em 0em 5em 0em;
}

.cadastro__botão:hover {
    background-color: var(--cor-vermelhoclaro);
    color: var(--cor-preto);
}

@media screen and (max-width: 1024px) {

    .cabeçalho {
        padding: 1em;
    }

    .container__páginas {
        font-size: 24px;
        margin: 0em 0.5em;
    }

    .container__botões {
        font-size: 20px;
        margin: 1em 1em;
    }

    .container__botões__link {
        font-size: 15px;
        padding: 1em 1em;
    }

    .cabeçalho__cabeçalho__apresentação {
        font-size: 30px;
        padding: 2em 0 0 0;
    }

    .cabeçalho__cabeçalho__título {
        font-size: 48px;
        margin: 2em;
    }

    .cabeçalho__cabeçalho__texto {
        font-size: 24px;
        margin: 2em;
    }

    .cabeçalho__cabeçalho {
        margin: 1em 2em;
    }

    .métricas__grupos {
        margin: 1em 2em;
        padding: 1em 0.1em;
    }

    .métricas__grupos__números {
        font-size: 30px;
    }

    .métricas__grupos__títulos {
        font-size: 20px;
    }

    .métricas__grupos__parágrafos {
        font-size: 20px;
        text-align: left;
    }

    .vagas__informações__foto {
        width: 80%;
    }
    
    .vagas__informações__título {
        font-size: 24px;
    }

    .vagas__informações__parágrafo {
        font-size: 20px;
    }

    .vagas__informações__anúncio {
        font-size: 20px;
    }

    .seção__grupos__principal {
        font-size: 24px;
        margin: 0em 10em;
        padding: 2em 0em;
    }

    .seção__grupos__principal__vaga {
        margin: 1em 16em;
        padding: 1em 1em;
    }
    
    .seção__grupos__principal__vaga__título {
        font-size: 20px;
    }

    .seção__grupos__principal__vaga__parágrafo {
        font-size: 20px;
    }

    .opiniões {
        margin: 1em 1em;
        font-size: 20px;
    }

    .opiniões__título {
        font-size: 20px;
    }

    .opiniões__texto {
        font-size: 32px;
        padding: 0em 2em;
    }

    .opiniões__nome {
        font-size: 20px;
    }

    .opiniões__função {
        font-size: 20px;
    }

    .cadastro__título {
        font-size: 32px;
    }

    .cadastro__parágrafo {
        font-size: 20px;
    }

    .cadastro__email {
        padding: 1em 10em 1em 10em;
    }

    .cadastro__botão {
        font-size: 15px;
    }

    .cadastro__copyright {
        font-size: 20px;
    }
}

@media screen and (max-width: 430px) {

    .logo__celular {
        display: none;
    }

    .cabeçalho {
        padding: 1em;
    }

    .container__páginas {
        font-size: 12px;
        margin: 0em 0.5em;
    }

    .container__botões {
        font-size: 10px;
        margin: 0em 0em;
    }

    .container__botões__link {
        font-size: 10px;
        padding: 1em 1em;
    }

    .cabeçalho__cabeçalho__título {
        font-size: 24px;
    }

    .cabeçalho__cabeçalho__texto {
        font-size: 12px;
    }

    .cabeçalho__cabeçalho {
        margin: 1em 2em;
    }

    .métricas__grupos {
        margin: 1em 0.4em;
        padding: 1em 0.1em;
    }

    .métricas__grupos__números {
        font-size: 30px;
    }

    .métricas__grupos__títulos {
        font-size: 10px;
    }

    .métricas__grupos__parágrafos {
        font-size: 10px;
        text-align: left;
    }

    .vagas__informações__foto {
        width: 100%;
    }
    
    .vagas__informações__título {
        font-size: 12px;
    }

    .vagas__informações__parágrafo {
        font-size: 10px;
    }

    .vagas__informações__anúncio {
        font-size: 10px;
    }

    .seção__grupos__principal {
        font-size: 12px;
        margin: 0em 6em;
        padding: 2em 0em;
    }

    .seção__grupos__principal__vaga {
        margin: 1em 4em;
        padding: 1em 1em;
    }
    
    .seção__grupos__principal__vaga__título {
        font-size: 10px;
    }

    .seção__grupos__principal__vaga__parágrafo {
        font-size: 10px;
    }

    .opiniões {
        margin: 1em 1em;
        font-size: 10px;
    }

    .opiniões__texto {
        font-size: 18px;
        padding: 0em 2em;
    }

    .opiniões__nome {
        font-size: 10px;
    }

    .opiniões__função {
        font-size: 10px;
    }

    .cadastro__título {
        font-size: 18px;
    }

    .cadastro__parágrafo {
        font-size: 10px;
    }

    .cadastro__email {
        padding: 1em 6em 1em 6em;
    }

    .cadastro__botão {
        font-size: 10px;
    }

    .cadastro__copyright {
        font-size: 10px;
    }
}
